

{{> head }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>LOGO KFC</h1>
        <P>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nesciunt molestias reprehenderit provident excepturi expedita animi necessitatibus, obcaecati cupiditate, fuga aperiam perspiciatis id, recusandae tenetur quasi sed in. Explicabo, veritatis?
        </P>
    </div>

    <div class="col-4">
        <img src="assets/img/logo1.png" class="img-thumbnail">

    </div>

</div>



{{> footer }}